
/*FORM STYLING */

@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import 'https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister';
@import 'https://fonts.googleapis.com/css?family=Cabin+Sketch';
@import 'https://fonts.googleapis.com/css?family=Nixie+One';


/* -- Body style ------------------------------------ */
body {
    background-image: url("../photos/topography.png");
    background-repeat: repeat;
}

/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;

  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #6EC5B8;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #6EC5B8;
  outline: none;
  box-shadow: none;
}


/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #6EC5B8;
  font-size: 12px;
  font-weight: 300;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px;
  }
}

.float-label {
  left: 0;
  top: 7px;
  font-size: 25px;
  pointer-events: none;
}

/* active state */
.form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
  top: -18px;
  font-size: 12px;
}


/* input colors ---- */
// default
.form-control:focus {
  ~ label {
    color: #03a9f4;
  }

  ~ .form-bar:before, ~ .form-bar:after {
    background: #03a9f4;
  }
}


.form-control:valid ~ .control-label {

}

/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}

/* ------  inline ----*/
.input-group-addon, .form-inline .input-group {
  display: table-cell;
}

.input-group-addon, .input-group-btn {
  width: inherit;
}

.input-group {
  width: 100%;
}

/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before, .form-bar:after     {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}

/* active state */
.form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
  width: 50%;
}

/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}

/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from { background:#6EC5B8; }
  to { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#6EC5B8; }
  to { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#6EC5B8; }
  to { width:0; background:transparent; }
}

@media (min-width: 768px) {
  .form-inline .radio label, .form-inline .checkbox label {
    padding-left: 5px;
  }
}

.form-control-static {
  font-size: 16px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}

#focusedInput {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: none;
}


/* -- buttons --------------------------------- */
#submit {
  background-color: #DC5C05;
  border-color: #ccc;
  width: 150px;
  font-size: 23px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

#submit:hover{
  background-color: #FF9000;
  border-color: #ccc;
  color: rgb(54, 54, 54);
  font-weight: bold;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}


/* -- headers --------------------------------- */
.jumbotron{
  background-color: rgba(204, 204, 204, 0.42);
  padding: 1%;
  color: #315853;
}

.jumbotron h1{
  font-family: 'Cabin Sketch', cursive;
}
/*----Modals----------------*/

.modal-header{
  background-color: #FFAC00;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Cabin Sketch', cursive;
  border-radius: 3px;
}

#modalbtn {
  color: white;
  background-color:#FFAC00;
  border-color: white;
}

#modalbtn:hover {
  color: white;
  background-color: #DC5C05;
  border-color: white;
}

.modal-body {
  min-height: 550px;
  overflow-y: auto;
}

/* -- nav ------------------------------------- */
.navbar{
  background-color: #6EC5B8;
}

.navbar .navbar-brand{
  color: white;
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Cabin Sketch', cursive;
}

.navbar .navbar-brand:hover{
  color: #FFAC00;
}

.navbar .nav-link{
  color: white;
  font-size: 25px;
  font-weight: lighter;
}

.nav-item .nav-link:hover{
  color: #DC5C05;
}

#blankTradeCard{
  display: none;
}

#footer{
  top: 320px;
}

#hamburger{
  color: white;
}

.nav-item #logoutButton {
  font-weight: lighter;
  color: white;
}

.nav-item #logoutButton:hover {
  font-weight: lighter;
  background-color: #4e8b82;
}

/*--Empty skillsmanager placeholder----------------------*/

#placeholder-box,  #soundsLikeFun  {
  background-color: rgba(180, 180, 180, 0);
  color:#DC5C05;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inspiration-quote{
  color: #554e46;
  font-weight: lighter;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 30px;
  padding-top: 15px;
}

.author{
  font-size: 20px;
  color: #554e46;
}

/*-- Manager card container ----------------------*/
.borderRow {
  background-color: #DC5C05;
  margin: 0px;
}

.card-block{
  color:#42a596;
  font-weight: lighter;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  border-color: #DC5C05;
  background-color: #f5eee5;
}

.card-block p{
  color: #554e46;
  font-size: 20px;
  font-weight: 400;
}

.card-block img{
  border-radius: 10px;
  height: 100px;
}

#card-category{
  background-color: #DC5C05;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Cabin Sketch', cursive;
  padding: 8px;
}

.card-block .btn{
  border-color: #DC5C05;
  background-color: #DC5C05;
  color: white;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.card-block .btn:hover{
  border-color: #FFAC00;
  background-color: #FFAC00;
}

#cardTopSection{
  padding-bottom: 20px;
  padding-right: 10px;
}

#titleSection{
  padding-top: 20px;
}

#userCard {
  display: none;
}

.card{
  margin-bottom: 30px;
}

/*--Skillcards on Trade Manager-----------------*/

#skillCardSB {
  margin-bottom: 30px;
  display:none;
}

.card-header {
  background-color: #554e46;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Cabin Sketch', cursive;
  padding: 8px;
}

.scroll-box {
     overflow-x: scroll;
     height: 350px;
     padding: 1rem
 }

#skillCardModal {
  width: 100%;
}
.skillCard{
    margin-bottom: 30px;
    width:350px;
    margin-right: 30px;
}

/*--Filter buttons-----------------*/

h3{
  color: #315853;
  font-size: 30px;
  font-weight: lighter;
}

.catEnv {
  font-weight: lighter;
  color: #315853;
  background-color: #c4e4e0;
  border-color: #5ab1a6;
  margin: 3px;
}

.catEnv:hover {
  font-weight: lighter;
  background-color: #4e8b82;
}
.activeFilter {
  font-weight: lighter;
  background-color: #faae2c;
}

#envButton , #catButton{
  display: none;
}
