
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #DC5C05;
  border-width: 3px;
  max-width: 250px;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../photos/splash-photo.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 80px;
  }
  header .header-content .header-content-inner p {
    font-size: 40px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(230, 227, 227);
  }
}

.btn {
  background-color: rgba(8, 8, 8, 0.61);
  border-color: #ccc;
  width: 150px;
  font-size: 23px;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.btn:hover{
  background-color: rgba(221, 93, 6, 0.69);
  border-color: #ccc;
  color: rgb(54, 54, 54);
  font-weight: bold;
}
